$base-color: #ddedf2;
$light-color: #fff;
$dark-color: #89c5cc65;
$lg_border: 33px;
$sm_border: 6px;
$btn_border: 16px;
$footer-color: #89c5cc;
$black-color: #373435;
@mixin central-flex($justify, $direction: "") {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  justify-content: $justify;
}
.home {
  section:nth-of-type(odd) {
    background-color: $dark-color;
  }
  section:nth-of-type(even) {
    button {
      color: white;
      background-color: black;
    }
  }
  section {
    padding: 5px;
    h2 {
      font-weight: bold;
    }

    .image {
      width: 100%;
      // max-width: 400px;
      margin: 0 auto;
      text-align: center;
      img {
        max-width: 180px;
        // margin: 0 auto;
      }
    }
    button {
      // border-radius: $sm_border;
      padding: 3px 6px;
      background: rgba(255, 255, 255, 0.212);
      border: 1px solid gray;
      transition: all 0.3s ease-in-out;
    }
    button:hover {
      color: teal;
      border-color: $footer-color;
      transform: scale(1.02);
    }
  }
  .student {
    h2 {
      font-weight: bolder;
      font-size: 1.6rem;
    }
  }
  article {
    padding: 10px;
  }
  .interactive {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
  }

  .engage {
    .image {
      align-items: center;
      img {
        max-width: 150px;
      }
    }
  }
  nav {
    position: sticky;
    top: 0;
    background-color: $base-color;
    ul {
      list-style: none;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .logo {
      width: 30%;
      max-width: 250px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
  .desktop-nav {
    .logo {
      margin: 0;
    }
    @include central-flex(space-between);
    ul li {
      display: inline-block;
      padding: 15px;
    }
  }
  .newslater {
    @include central-flex(center, column);
    form {
      text-align: center;
      input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
      button {
        background: $base-color;
        color: black;
      }
    }
  }

  footer {
    background: $footer-color;
    @include central-flex(center, column);
    .links {
      @include central-flex(center, column);
      button {
        background: rgba(255, 255, 255, 0);
        margin: 5px 0;
      }
    }
    .start {
      color: $footer-color;
      background-color: $black-color;
      margin: 15px;
    }
    .social {
      font-size: 1rem;
      * {
        margin: 5px;
      }
    }
  }

  // media queries for tablet screens and above
  @media only screen and (min-width: 480px) {
    section {
      @include central-flex(space-between);
      .image {
        img {
          max-width: 300px;
        }
      }
      .varieties {
        display: flex;
        * {
          padding: 5px;
        }
        p {
          margin-left: 5px;
        }
      }
    }
    section:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
    footer {
      button {
        margin-top: 10px;
        font-weight: bold;
      }
      .links {
        flex-direction: row;
        button {
          margin: 15px;
          font-weight: 600;
        }
      }
    }
  }
  // media queries for small laptop screens and above
  @media only screen and (min-width: 768px) {
    section {
      padding: 1rem;
      line-height: 1.5rem;
      font-size: large;
      .image {
        img {
          width: 500px;
        }
      }
    }
  }
}
