@import "../base.scss";
@mixin backgroundRCC {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home {
  font-size: 1rem;
  section:nth-of-type(odd) {
    background-color: $dark-color;
  }
  section:nth-of-type(even) {
    button {
      color: white;
      background-color: black;
    }
  }
  section {
    padding: 5px;
    h2 {
      font-weight: bold;
    }

    .image {
      width: 100%;
      // max-width: 400px;
      margin: 0 auto;
      text-align: center;
      img {
        max-width: 180px;
        // margin: 0 auto;
      }
    }
    button {
      // border-radius: $sm_border;
      padding: 3px 6px;
      background: rgba(255, 255, 255, 0.212);
      border: 1px solid gray;
      transition: all 0.3s ease-in-out;
    }
    button:hover {
      color: teal;
      border-color: $footer-color;
      transform: scale(1.02);
    }
  }
  .student {
    h2 {
      font-weight: bolder;
      font-size: 1.6rem;
    }
  }
  article {
    padding: 10px;
  }
  .interactive {
    position: relative;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;

    h2::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      background: url("../../assets/Ellipse\ 3.png");
      width: 20%;
      height: 20%;
      @include backgroundRCC();
      z-index: -1;
    }
    h2::after {
      content: "";
      position: absolute;
      top: 0%;
      right: 0%;
      background: url("../../assets/Ellipse\ 4.png");
      width: 20%;
      height: 20%;
      @include backgroundRCC();
      z-index: -1;
    }
    p:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("../../assets/Ellipse\ 3.png");
      width: 50%;
      height: 50%;
      @include backgroundRCC();
      z-index: -1;
    }
    button::before {
      content: "";
      position: absolute;
      bottom: 0%;
      left: 0%;
      background: url("../../assets/Ellipse\ 4.png");
      width: 20%;
      height: 20%;
      @include backgroundRCC();
      z-index: -1;
    }
    button::after {
      content: "";
      position: absolute;
      top: 80%;
      right: 0%;
      background: url("../../assets/Ellipse\ 3.png");
      width: 20%;
      height: 20%;
      @include backgroundRCC();
      z-index: -1;
    }
  }

  .engage {
    .image {
      background: url("../../assets/Ellipse\ 2.png");
      @include backgroundRCC();
      img {
        max-width: 150px;
      }
    }
  }
  .explore {
    .image {
      background: url("../../assets/Ellipse\ 1.png");
      @include backgroundRCC();
    }
  }
  .varieties {
    padding: 1rem;
    line-height: 2.5rem;
    background: url("../../assets/Ellipse\ 7.png");
    @include backgroundRCC();
    background-size: 200px;
  }
  nav {
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: $base-color;
    ul {
      list-style: none;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .logo {
      // width: 30%;
      text-align: center;
      max-width: 250px;
      margin: 0 auto;
      img {
        background-color: #000000;
        width: 140px;
        height: 50px;
        object-fit: cover;
      }
    }
  }
  .active {
    visibility: visible;
    transition: all 0.5s;
  }
  .nav-bar--hidden {
    visibility: hidden;
    transition: all 0.5s;
    transform: translateY(-100%);
  }
  .desktop-nav {
    .logo {
      margin: 0;
      img {
        width: 160px;
        height: 70px;
      }
    }
    @include central-flex(space-between);
    ul li {
      display: inline-block;
      padding: 15px;
    }
  }
  .newslater {
    position: relative;
    @include central-flex(center, column);
    p:before {
      content: "";
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      background: url("../../assets/Ellipse\ 4.png");
      width: 30%;
      height: 30%;
      @include backgroundRCC();
      z-index: -1;
    }
    p:after {
      content: "";
      position: absolute;
      bottom: 10%;
      right: 0%;
      background: url("../../assets/Ellipse\ 4.png");
      width: 30%;
      height: 30%;
      @include backgroundRCC();
      z-index: -1;
    }
    h2:before {
      content: "";
      position: absolute;
      top: 30%;
      left: 0%;
      background: url("../../assets/Ellipse\ 4.png");
      width: 20%;
      height: 20%;
      @include backgroundRCC();
      z-index: -1;
    }
    form {
      text-align: center;
      input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
      button {
        background: $base-color;
        color: black;
      }
    }
  }

  footer {
    .image {
      text-align: center;
      max-width: 200px;
      img {
        width: 80%;
      }
    }
    background: $footer-color;
    @include central-flex(center, column);
    .links {
      @include central-flex(center, column);
      .link {
        transition: all 0.5s ease;
        margin: 5px;
        cursor: pointer;
      }
      .link:hover {
        color: teal;
      }
      button {
      }
    }
    .start {
      color: $footer-color;
      background-color: $black-color;
      margin: 15px;
    }
    .social {
      font-size: 1rem;
      * {
        margin: 5px;
      }
    }
  }

  // media queries for tablet screens and above
  @media only screen and (min-width: 600px) {
    section {
      @include central-flex(space-between);
      .image {
        img {
          max-width: 300px;
        }
      }
      .varieties {
        display: flex;
        * {
          padding: 5px;
        }
        p {
          margin-left: 5px;
        }
      }
    }
    section:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
    footer {
      button {
        margin-top: 10px;
        font-weight: bold;
      }
      .links {
        flex-direction: row;
        .link {
          margin: 15px;
          font-weight: 600;
        }
      }
      .image {
        max-width: 200px;
        img {
          width: 100%;
        }
      }
    }
  }
  // media queries for small laptop screens and above
  @media only screen and (min-width: 768px) {
    section {
      padding: 1rem;
      line-height: 1.5rem;
      font-size: large;
      .image {
        img {
          width: 500px;
        }
      }
    }
  }
}
