$base-color: #ddedf2;
$light-color: #fff;
$dark-color: #89c5cc, 100%;
$lg_border: 33px;
$sm_border: 6px;
$btn_border: 16px;
.home {
  img {
    // width: 20%;
  }
  nav {
    background-color: $base-color;
  }
}
