// $base-color: #ddedf2, 100%;
// $light-color: #fff;
// $dark-color: #89c5cc, 100%;
// $lg_border: 33px;
// $sm_border: 6px;
// $btn_border: 16px;

@import "./components/base.scss";
@import "./components//dashboard/menu/menu.scss";
.header {
  z-index: 100;
  background-color: white;
  position: sticky;
  top: 0;
  padding: 5px;
  margin-bottom: 15px;
  box-shadow: 12px 2px 12px $dark-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .userImage {
    img {
      border-radius: 50%;
    }
  }
}
main {
  display: flex;
}
